.debug {
    border-style:solid;
}

.numtablerow{
    text-align: right;
}

.dishpricerow{
    text-align: right;
}

.aligntotheright{
    text-align: right;
}

.flexParent{
    display: flex;
    flex-direction: row;
}

.sidebar{
    margin: 5px;
    width : 400px;
    display: block;
}

.main-content{
    border: 2px solid;
    margin-top: 5px;
}

.span_alignment{
    text-align: center;
    max-width: 150px;
    vertical-align: auto;
    display: block;
}

.parent_div{
    display: flex;
    gap: 30px;
    flex-flow: wrap;

}

@media only screen and (max-width: 250px){
    .flexParent{
        flex-direction: column;

    }
}

.img-size {
    width: 350px;
    height: 300px;
  }

.inline {
    display:inline-block;
    margin-right:5px;
 }