/* A debug class, used to separate components graphically during development */
.debug {
    border-style:solid;
}


.numtablerow{
    text-align: right;
}

.dishpricerow{
    text-align: right;
}

.aligntotheright{
    text-align: right;
}

.flexParent{
    display: flex;
    flex-direction: row;
    height: 100%;
    
}

.sidebar{
    flex:0;
    

}

.maincontent{
    flex:1;
    overflow: scroll;
}

